body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 360px;
  margin-right: auto;
  margin-left: auto;
}
button {
  color: 	#fdffff;
  padding: 7px 20px;
  background-color: #708090;
  border-style: none;
}
input {
  height: 20px;
}
